[submodule "libopencm3"]
	path = libopencm3
	url = git@github.com:libopencm3/libopencm3.git
[submodule "stm32h5xx_hal_driver"]
	path = stm32h5xx_hal_driver
	url = git@github.com:STMicroelectronics/stm32h5xx_hal_driver.git
